.boxed {
  border: 1px solid grey;
  border-radius: var(--xl);
  padding: 100px 100px 100px 100px;
  margin: 2vw 10vw;
  background-color: rgb(224, 220, 212);
  /* font-size: 1.2vw; */
  font-size: 1.2vw;
}
.profilepic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name {
  color: black;
  font-weight: bold;
  /* font-size: 1.5vw; */
  font-size: 1.5vw;
}

.ineed {
  color: var(--primary);
}
.ioffer {
  color: var(--secondary);
}

.other {
  color: black;
}

.postInfoNeed {
  border: 2px solid var(--primary);
  color: gray;
  padding-left: 5px;
  font-size: 20px;
}

.postInfoOffer {
  border: 2px solid var(--secondary);
  color: gray;
  padding-left: 5px;
  font-size: 20px;
}

.postInfoOther {
  border: 2px solid gray;
  color: gray;
  padding-left: 5px;
  font-size: 20px;
}

.time {
  color: gray;
}

.posts {
  flex: 3;
  border: 1px solid gray;
  width: 100vw;
}

.search {
  position: sticky;
  top: 90px;
  z-index: 20;
  background-color: white;
}
