.boxed {
  border: 1px solid grey;
  padding: 100px 100px 100px 100px;
  width: 70%;
  margin: auto;
  background-color: rgb(224, 220, 212);
}
.profilepic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name {
  color: black;
  font-weight: bold;
}

.ineed {
  color: orange;
}
.ioffer {
  color: var(--secondary);
}

.other {
  color: black;
}

.postInfoNeed {
  border: 2px solid orange;
  color: gray;
  padding-left: 5px;
}

.postInfoOffer {
  border: 2px solid var(--secondary);
  color: gray;
  padding-left: 5px;
}

.postInfoOther {
  border: 2px solid gray;
  color: gray;
  padding-left: 5px;
}

.time {
  position: relative;
  left: 65%;
  color: gray;
}
