.boxed {
    border: 1px solid grey;
    color: orange;
    padding: 100px 100px 100px 100px;
    width: 70%;
    margin:auto;

}
.profilepic{
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.name{
    color:grey;
}

.ineed{
    color:orange;
}
.ioffer{
    color: green;
}

.other{
    color:black;
}

.postInfoNeed{
    border:1px solid orange;
    color: gray;
    

}

.postInfoOffer{
    border:1px solid green;
    color: gray;
    

}

.postInfoOther{
    border:1px solid gray;
    color: gray;
    

}

.time{
    position: relative;
    left: 75%;
    
}