.Home-body-title-1 {
  color: var(--black);
  font-size: 75px;
  font-weight: 400;
  width: 100%;
}

.Home-body-title-2 {
  color: var(--primary);
  font-size: 50px;
  font-weight: 400;
  width: 100%;
}

.Home-body-title-3 {
  color: var(--secondary);
  font-size: 50px;
  font-weight: 400;
  width: 100%;
}

.Home-body-title-4 {
  color: var(--white);
  font-size: 90px;
  font-weight: 400;
  width: 100%;
}

.Home-body-title-5 {
  color: var(--primary--dim);
  font-size: 150px;
  font-weight: 400;
  width: 100%;
}

.Home-body-title-6 {
  color: var(--secondary--dim);
  font-size: 150px;
  font-weight: 400;
  width: 100%;
}

.Home-body-title-7 {
  color: var(--black);
  font-size: 75px;
  font-weight: 400;
  width: 100%;
}

.Home-img {
  /* background-image: url(https://images.pexels.com/photos/6146951/pexels-photo-6146951.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); */
  background-image: url(../../../dist/friends.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.Home-img2 {
  width: 50%;
}

/* Modified from https://www.smashingmagazine.com/2019/04/z-index-component-based-web-application/ */
.Home-overlay {
  background-color: rgba(213, 127, 57, 0.3);
}

.Home-section {
  padding: var(--l);
  background-color: var(--off_white);
}

.Home-section2 {
  margin: var(--l);
  padding: var(--l);
  background-color: var(--primary);
  color: var(--white);
  width: 30%;
}

.Home-section3 {
  padding: var(--l);
  background-color: var(--secondary);
  color: var(--white);
  width: 30%;
}

.Home-section4 {
  padding: var(--l);
  background-color: var(--dark_gray);
  color: var(--white);
  width: 30%;
}

.Home-section5 {
  padding: var(--l);
  background-color: var(--black);
  color: var(--white);
}

.Home-section6 {
  padding: var(--l);
  background-color: var(--off_white);
  color: var(--white);
}
/* 
.Home-section2 {
  padding: var(--xl);
} */

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--primary--dim); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  width: fit-content;
  animation: typing 5s steps(30, end), blink-caret 0.5s step-end infinite;
  animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary--dim);
  }
}
