.Home-body-title-1 {
  color: var(--black);
  font-size: 70px;
  font-weight: 400;
  width: 100%;
}

.Home-body-title-2 {
  color: var(--primary);
  font-size: 70px;
  font-weight: 400;
  width: 100%;
}

.Home-img {
  background-image: url(https://images.pexels.com/photos/4827509/pexels-photo-4827509.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--primary--dim); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  width: fit-content;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary--dim);
  }
}
