@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

:root {
  --bronze: #d57f39;
  --teal: #007991;
  --black: #000000;
  --very_dark_gray: #111010;
  --dark_gray: #292a2a;
  --off_white: #ededed;
  --white: #ffffff;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Open Sans", sans-serif;
}
