.textbackground {
  background-color: rgb(241, 241, 241);
  border-radius: var(--s);
}
.OuterClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MiddleClass {
  width: 50%;
}

.LabelClass {
  display: flex;
  flex-direction: column;
}

.NameClass {
  width: 25%;
  border: none;
}

.INeedTextClass {
  color: orange;
}

.INeedClass {
  width: 50%;
  border: none;
}

.IOfferTextClass {
  color: var(--secondary);
}

.IOfferClass {
  width: 50%;
  border: none;
}

.OtherClass {
  width: 50%;
  border: none;
}

.SubmitClass {
  text-align: center;
  width: 20%;
  border: none;
  background-color: orange;
}

textarea {
  background-color: white;
}

.btn-warning {
  margin-top: 20px;
}
