.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 1px solid gray;
}

.flex-child--featured {
  flex: 3;
  border: 1px solid gray;
}

.profilestart {
  color: orange;
}

.profileinfo {
  color: gray;
}

.profileinfotext {
  color: black;
}

.AboutTextArea {
  width: 20%;
}

.editButton {
  color: black;
  background-color: orange;
  width: 20%;
  text-align: center;
}

.saveButton {
  color: black;
  background-color: orange;
  width: 10%;
  text-align: center;
}

.cancelButton {
  color: black;
  background-color: gray;
  width: 10%;
  text-align: center;
}

.boxedprofile {
  color: orange;
  width: 90%;
  float: right;
  padding: 20px;
}

.profilename {
  color: black;
}

.ineedtitle {
  color: gray;
}
