.flex-container {
  display: flex;
}

.profileLeftContainer {
  margin: 1.5625%;
  width: 25%;
}

.profilePicInProfile
{
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.profileName {
  font-size: xx-large;
  font-weight: bold;
}

.profileAbout {
  font-size: large;
}

.innerAboutText {
  font-weight: bold;
  font-size: large;
  width: 25%;
}

.aboutTextArea {
  width: 25%;
}

.innerCollegeContainer {
  width: 25%;
  display: flex;
}

.innerCollegeText {
  font-weight: bold;
  width: 25%;
}

.collegeInput {
  width: 75%;
}

.editButton {
  background-color: gray;
  text-align: center;
  font-weight: bold;
  border-radius: 100000000000000000px;
}

.buttonsContainer {
  display: flex;
  width: 25%;
  color: blue;
  font-size: large;
  font-weight: bold;
}

.saveButton {
  
}

.cancelButton {
  
}

.outerCollegeContainer {
  display: flex;
}

.outerCollegeText {
  width: 25%;
  font-weight: bold;
}

.ineedtitle {
  font-size: xx-large;
}

.profileRightContainer {
  margin: 1.5625%;
  flex-grow: 1;
}
