.NewMessageContainer {
  display: flex;
}

.NewMessageTextArea {
  width:90%;
}

.NewMessageSubmit {
  background-color: orange;
  width: 25%;
  text-align: center;
  border-radius: 10000000000000px;
}
